<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>FoodRatings</display-name>
	<servlet>
		<description>
		</description>
		<display-name>SignInServlet</display-name>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>foodratings.servlet.SignInServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SignOutServlet</display-name>
		<servlet-name>SignOutServlet</servlet-name>
		<servlet-class>foodratings.servlet.SignOutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteIzdelekServlet</display-name>
		<servlet-name>DeleteIzdelekServlet</servlet-name>
		<servlet-class>foodratings.servlet.izdelek.DeleteIzdelekServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateIzdelekServlet</display-name>
		<servlet-name>UpdateIzdelekServlet</servlet-name>
		<servlet-class>foodratings.servlet.izdelek.UpdateIzdelekServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteProizvajalecServlet</display-name>
		<servlet-name>DeleteProizvajalecServlet</servlet-name>
		<servlet-class>foodratings.servlet.proizvajalec.DeleteProizvajalecServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateProizvajalecServlet</display-name>
		<servlet-name>UpdateProizvajalecServlet</servlet-name>
		<servlet-class>foodratings.servlet.proizvajalec.UpdateProizvajalecServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteKategorijaServlet</display-name>
		<servlet-name>DeleteKategorijaServlet</servlet-name>
		<servlet-class>foodratings.servlet.kategorija.DeleteKategorijaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateKategorijaServlet</display-name>
		<servlet-name>UpdateKategorijaServlet</servlet-name>
		<servlet-class>foodratings.servlet.kategorija.UpdateKategorijaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteDrzavaServlet</display-name>
		<servlet-name>DeleteDrzavaServlet</servlet-name>
		<servlet-class>foodratings.servlet.drzava.DeleteDrzavaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateDrzavaServlet</display-name>
		<servlet-name>UpdateDrzavaServlet</servlet-name>
		<servlet-class>foodratings.servlet.drzava.UpdateDrzavaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteUporabnikServlet</display-name>
		<servlet-name>DeleteUporabnikServlet</servlet-name>
		<servlet-class>foodratings.servlet.uporabnik.DeleteUporabnikServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUporabnikServlet</display-name>
		<servlet-name>UpdateUporabnikServlet</servlet-name>
		<servlet-class>foodratings.servlet.uporabnik.UpdateUporabnikServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegistrationServlet</display-name>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>foodratings.servlet.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RateIzdelekServlet</display-name>
		<servlet-name>RateIzdelekServlet</servlet-name>
		<servlet-class>foodratings.servlet.izdelek.RateIzdelekServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddIzdelekServlet</display-name>
		<servlet-name>AddIzdelekServlet</servlet-name>
		<servlet-class>foodratings.servlet.izdelek.AddIzdelekServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddProizvajalecServlet</display-name>
		<servlet-name>AddProizvajalecServlet</servlet-name>
		<servlet-class>foodratings.servlet.proizvajalec.AddProizvajalecServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddDrzavaServlet</display-name>
		<servlet-name>AddDrzavaServlet</servlet-name>
		<servlet-class>foodratings.servlet.drzava.AddDrzavaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddKategorijaServlet</display-name>
		<servlet-name>AddKategorijaServlet</servlet-name>
		<servlet-class>foodratings.servlet.kategorija.AddKategorijaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RateProizvajalecServlet</display-name>
		<servlet-name>RateProizvajalecServlet</servlet-name>
		<servlet-class>foodratings.servlet.proizvajalec.RateProizvajalecServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RateDrzavaServlet</display-name>
		<servlet-name>RateDrzavaServlet</servlet-name>
		<servlet-class>foodratings.servlet.drzava.RateDrzavaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>
		/SignInServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignOutServlet</servlet-name>
		<url-pattern>
		/SignOutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteIzdelekServlet</servlet-name>
		<url-pattern>
		/DeleteIzdelekServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateIzdelekServlet</servlet-name>
		<url-pattern>
		/UpdateIzdelekServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProizvajalecServlet</servlet-name>
		<url-pattern>
		/DeleteProizvajalecServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProizvajalecServlet</servlet-name>
		<url-pattern>
		/UpdateProizvajalecServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteKategorijaServlet</servlet-name>
		<url-pattern>
		/DeleteKategorijaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateKategorijaServlet</servlet-name>
		<url-pattern>
		/UpdateKategorijaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteDrzavaServlet</servlet-name>
		<url-pattern>
		/DeleteDrzavaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateDrzavaServlet</servlet-name>
		<url-pattern>
		/UpdateDrzavaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUporabnikServlet</servlet-name>
		<url-pattern>
		/DeleteUporabnikServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUporabnikServlet</servlet-name>
		<url-pattern>
		/UpdateUporabnikServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>
		/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RateIzdelekServlet</servlet-name>
		<url-pattern>
		/RateIzdelekServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddIzdelekServlet</servlet-name>
		<url-pattern>
		/AddIzdelekServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProizvajalecServlet</servlet-name>
		<url-pattern>
		/AddProizvajalecServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDrzavaServlet</servlet-name>
		<url-pattern>
		/AddDrzavaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddKategorijaServlet</servlet-name>
		<url-pattern>
		/AddKategorijaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RateProizvajalecServlet</servlet-name>
		<url-pattern>
		/RateProizvajalecServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RateDrzavaServlet</servlet-name>
		<url-pattern>
		/RateDrzavaServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>