@CHARSET "utf-8";

html, body
{
	height:100%;
}

body
{
	font-family:verdana,sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
	background-color:#e3e3e3;
	color:#3d3d3d;
}

#header_container
{
	background-color:#e3e3e3;
}

#header
{
	width:800px;
	height:50px;
	margin:0px auto 0px auto;
}

#website_title
{
	color:#3d3d3d;
	display:inline;
	float:left;
	margin:8px 0px 0px 0px;
	padding:0px 12px 0px 0px;
	font-weight:200;
	font-size:26px;
	cursor:pointer;
}

#website_title span#highlight
{
	color:#e3e3e3;
	background-color:#3d3d3d;
	margin:0px 0px 0px 0px;
	padding:0px 6px 2px 6px;
}

#header a
{
	color:#3d3d3d;
	display:block;
	padding:17px 10px;
	margin:0px 0px 0px 0px;
}

#header a:link
{
	color:#3d3d3d;
	text-decoration:none;	
}

#header a:visited
{
	color:#3d3d3d;
}

#header a:hover
{
	background-color:#3d3d3d;
	color:#e3e3e3;
}

#header ul
{
	display:inline;
	float:left;
	margin:0px;
	padding:0px;
}

#header ul li
{
	display:inline;
	font-size:13px;
	height:50px;
	float:left;
	border-left:1px solid #bfbfbf;
}

#header ul#menuitems_right
{
	float:right;
}

#header ul#menuitems_right li
{
	float:right;
	border:none;
}

#content_header_container
{
	background-color:white;
	-moz-box-shadow: 0px 0px 6px 0px #888;
	-webkit-box-shadow: 0px 0px 6px 0px #888;
	box-shadow: 0px 0px 6px 0px #888;
	position:relative;
	z-index:10;

}

#content_header
{
	width:800px;
	height:100px;
	margin:0px auto 0px auto;
	padding:0px 0px;
}

#content_header h1
{
	color:#3d3d3d;
	font-size:22px;
	font-weight:bold;
	margin:0px;
	padding:20px 0px 0px 0px;	
}

#content_header p
{
	color:#8a8a8a;
	margin:0px;
	padding:0px;
}

#content
{
	width:800px;
	margin:0px auto 0px auto;
	padding:0px 0px;
	position:relative;
}

#content h1
{
	margin:20px 0px 0px 0px;
	padding:0px;	
}

#body_container
{
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -150px;
}

#footer_container
{
	height:150px;
}

#footer
{
	color:#3d3d3d;
	width:800px;
	height:150px;
	margin:0px auto 0px auto;
	padding:0px 0px;
	-moz-box-shadow: 0px -15px 30px -18px #888;
	-webkit-box-shadow: 0px -15px 30px -18px #888;
	box-shadow: 0px -15px 30px -18px #888;
}

#footer a , #footer a:visited
{
	color:#3d3d3d;
	text-decoration:none;;	
}

#footer a:hover
{
	text-decoration:underline;
}

.push
{
	height:150px;
}

#footer_links
{
	list-style-type:none;
	margin:0px;
	padding:0px;	
}

#footer_links li
{
	display:block;
	float:left;
	width:25%;
	margin:20px 0px 0px 0px;
}

#footer_links dl
{
	margin:0px;
	padding:0px;
}

#footer_links dt
{
	width:150px;
	font-weight:bold;
	border-bottom:1px solid #9d9d9d;
	margin:0px 0px 3px 0px;
	padding:0px 0px 3px 0px;
}

#footer_links dd
{
	margin:0px;
	padding:0px;
}

#footer_links li.first span
{
	position:relative;
	top:25px;
	padding:0px 35px;
}

#admin_menu
{
	width:800px;
	margin:0px auto 0px auto;
	height:30px;

}

#admin_menu ul
{
	float:left;
	margin:0px;
	padding:0px;
}

#admin_menu li
{
	display:inline;
}

#admin_menu a
{
	color:#3d3d3d;
	display:inline;
	float:left;
	background-color:#f0f0f0;
	font-size:14px;
	padding:8px;
	margin-right:5px;
	text-decoration:none;
	-moz-box-shadow: 0px 0px 6px 0px #888;
	-webkit-box-shadow: 0px 0px 6px 0px #888;
	box-shadow: 0px 0px 6px 0px #888;
	position:relative;
	z-index:5;
}

#admin_menu a:hover
{
	background-color:white;
	color:#3d3d3d;
	-moz-box-shadow: 0px 0px 6px 0px #888;
	-webkit-box-shadow: 0px 0px 6px 0px #888;
	box-shadow: 0px 0px 6px 0px #888;
	position:relative;
	z-index:5;
}

#admin_menu a.selected
{
	background-color:white;
	color:#3d3d3d;
	-moz-box-shadow: 0px -6px 0px 0px #fff, 0px 0px 6px 0px #888;
	-webkit-box-shadow: 0px -6px 0px 0px #fff, 0px 0px 6px 0px #888;
	box-shadow: 0px -6px 0px 0px #fff, 0px 0px 6px 0px #888;
	position:relative;
	z-index:20;
  	cursor:pointer;
}

#admin_menu a:hover
{
	background-color:white;
	color:#3d3d3d;
}

.block
{
	display:block;
}

.inputForm
{
	margin-top:20px;
	width:100%;
}

.inputFields
{
	width:225px;
	margin:0px auto;
}

.inputButtons
{
	width:350px;
	margin:20px auto;
	padding:0px;
	text-align:center;
}

.inputButtons input
{
	margin:0px 10px 0px 0px;	
}

#registrationForm
{
	width:300px;
	margin: 20px auto;
}

.inputForm label
{
	margin:5px 0px;
	font-size:14px;
}

.inputForm div.inputFields div
{
	margin: 5px 0px;	
}

.inputForm span
{
	margin-left:20px;
}

.input_text
{
	outline:none;
	height:25px;
	width:200px;
	padding:2px 5px;
	background-color:white;
	border:1px solid #b4b4b4;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.input_text:hover
{
	border:1px solid #7a7a7a;	
}

.input_text:focus
{
	border:1px solid #3c9eea;
	-moz-box-shadow: 0px 0px 5px 0px #3c9eea;
	-webkit-box-shadow: 0px 0px  0px #3c9eea;
	box-shadow: 0px 0px 5px 0px #3c9eea;	
}

.input_button
{
	background-color:#656565;
	color:white;
	border:none;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin:5px 0px;
	border:1px solid #4d4d4d;
	font-weight:bold;
	font-size:14px;
	padding:5px 20px;
}

.input_button:hover
{
	background-color:#565656;
	border:1px solid #3d3d3d;
}

a.transition
{
	font-weight:bold;
	text-decoration:none;
	color:#3d3d3d;
	transition: color 200ms ease-in;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
}

a.transition:hover
{
	text-decoration:underline;
	color:#1c62b9;
}

.errorMessage span
{
	background-color:#ecabab;
	color:#7a2c2c;
	font-weight:bold;
	padding:15px;
	margin:0px auto;
	display:inline-block;
}

.infoMessage span
{
	background-color:#abd4ec;
	color:#2c617a;
	font-weight:bold;
	padding:15px;
	margin:0px auto;
	display:inline-block;
}

.center
{
	text-align:center;
}

#userMenu_container
{
	display:block;
	position:absolute;
	top:50px;
	left:50%;
	z-index:50;
}

#userMenu
{
	visibility:hidden;
	font-size:14px;
	list-style:none;
	background-color:#3d3d3d;
	margin:0px 0px 0px 280px;
	padding:5px 10px;
	width:100px;
}

#userMenu li
{
	margin:5px 0px;
	padding:0px;
}

#userMenu a
{
	text-decoration:none;
	color:white;
	margin:0px;
	padding:0px;
}

#userMenu a:visited
{
	text-decoration:none;
	color:white;
}

#userTab
{
	position:relative;
	z-index:9;
	cursor:pointer;
}

.list_item_admin, .list_item
{
	margin:12px 30px 12px 0px;
	padding:7px 15px 9px 15px;
	background-color:#f0f0f0;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.list_item_admin
{
	width:94%;
}

.list_item_admin_table
{
	width:100%;
}

.list_item
{
	margin-right:0px;
}

.list_item_admin:hover, .list_item:hover
{
	background-color:white;
	-moz-box-shadow: 0px 0px 6px 0px #888;
	-webkit-box-shadow: 0px 0px 6px 0px #888;
	box-shadow: 0px 0px 6px 0px #888;
	cursor:pointer;
}

#content div.list_item_admin h1, #content div.list_item h1
{
	margin:0px;
	padding:0px;
	font-size:14px;	
}

#content div.list_item_admin h2, #content div.list_item h2
{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-weight:normal;
}

#content div.delete_item
{
	font-size:18px;
	font-weight:bolder;
	color:#8c8c8c;
	cursor:pointer;
	margin:0px;
	padding:0px;
}

#content div.delete_item:hover
{
	color:#3d3d3d;
}

#content .item_details
{
	min-height:175px;
	margin:15px 0px;
	padding:7px 15px 9px 15px;
	background-color:#f0f0f0;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#content .item_details h1
{
	margin:0px 0px 5px 0px;
	padding:0px;	
}

#content .item_details div
{
	margin:5px 0px;
}

#content .item_details p.item_att
{
	font-weight:bold;
	margin:0px 0px 2px 0px;
	padding:0px;	
}

#content .item_details p.item_att_value
{
	margin:0px 0px 0px 0px;
	padding:0px;	
}

#content .item_details p.item_att_textfield, #content .item_details select.input_select
{
	margin:8px 0px 0px 0px;
	padding:0px;	
}

#content .item_details div.rating div
{
	background-color:white;
	font-weight:bolder;
	font-size:40px;
	padding:15px;
	display:inline-block;
	float:right;
	position:relative;
	top:50px;
	right:-65px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 6px 0px #888;
	-webkit-box-shadow: 0px 0px 6px 0px #888;
	box-shadow: 0px 0px 6px 0px #888;
}

#content .item_details div.rating span
{
	font-size:12px;
	font-weight:bold;
	float:right;
	position:relative;
	top:30px;
	right:50px;
}

#content .item_details table
{
	margin:0px;
	padding:0px;
}

#content .item_details table tr
{
	margin:0px;
	padding:0px;
}

#content .item_details table td
{
	margin:0px;
	padding:0px;
}

#content .item_details div.rating_small
{
	background-color:white;
	font-weight:bolder;
	font-size:18px;
	display:inline-block;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 6px 0px #888;
	-webkit-box-shadow: 0px 0px 6px 0px #888;
	box-shadow: 0px 0px 6px 0px #888;
	padding:5px;
	margin:0px 15px;
}

.input_select
{
	-webkit-appearance: none;
	outline:none;
	height:32px;
	width:212px;
	padding:5px 5px;
	border:1px solid #b4b4b4;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: url('/FoodRatings/img/select_icon.png') no-repeat right white;
	background-position:187px 7px;
	overflow:hidden;
}

.input_select_rating
{
	-webkit-appearance: none;
	outline:none;
	height:32px;
	width:62px;
	padding:5px 5px;
	border:1px solid #b4b4b4;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: url('/FoodRatings/img/select_icon.png') no-repeat right white;
	background-position:39px 7px;
	overflow:hidden;
}

.buttons
{
	margin:20px 10px;
	padding:0px;	
}

.buttons input
{
	margin:0px 10px 0px 0px;	
}

#content .item_rating_system
{
	margin:15px 0px;
	padding:7px 15px 9px 15px;
	background-color:#f0f0f0;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#content .item_rating_system div, #content .item_rating_system select
{
	display:inline-block;
}